<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="AdamMil.WebDAV">
      <section name="server" type="{TypeName:AdamMil.WebDAV.Server.Configuration.WebDAVServerSection}" />
    </sectionGroup>
  </configSections>

  <system.webServer>
    <modules>
      <add name="AdamMil.WebDAV" type="{TypeName:AdamMil.WebDAV.Server.WebDAVModule}" />
    </modules>
  </system.webServer>

  <AdamMil.WebDAV>
    <server enabled="true" showSensitiveErrors="true">
      {GlobalLockManager}
      {GlobalPropertyStore}
      <locations>
        {Locations}
      </locations>
      <mediaTypeMap defaultMediaType="application/octet-stream">
        <add mediaType="text/foobar" extension="tfb" />
      </mediaTypeMap>
    </server>
  </AdamMil.WebDAV>
</configuration>
